<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      Django Rich Text Editor Demo
    </title>
    <script type="text/javascript" src="{{MEDIA_URL}}fckeditor/fckeditor.js"></script>

  </head>

  <body>
    <form method="post">
      <table>
        <tr>
          <td> Name: </td>
          <td> {{ form.name}} </td>
        </tr>
        <tr>
          <td>
            Resume:
          </td>
          <td> {{ form.resume }} </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit"/>
          </td>
        </tr>
      </table>
    </form>
    <script type="text/javascript">

    function FCKeditor_OnComplete(editor ){
        editor.Events.AttachEvent('OnAfterLinkedFieldUpdate', function() {
            editor.LinkedField.style.display = '';
            var frmId = editor.Name  + '___Frame';
            var frm = document.getElementById(frmId);
            frm.style.display = 'none';
            }) ;
        }

  function toRich(textarea) {
      var editor = new FCKeditor(textarea.name ) ;
      editor.MinWidth = textarea.offsetWidth;
      editor.Width = "100%" ;
      editor.MinHeight = Math.max(textarea.offsetHeight, 200 ) ;
      editor.MaxHeight = 400;
      editor.ToolbarSet = "Zanbato";
      var frmId = textarea.name + '___Frame';
      editor.ReplaceTextarea();
      textarea.style.display = 'none';
      }

  FCKeditor.BasePath = '{{ MEDIA_URL }}fckeditor/' ;
  toRich(document.getElementById("id_resume"));

</script>

</body>
</html>

