<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      Django Rich Text Editor Demo
    </title>
    <script type="text/javascript" src="{{MEDIA_URL}}fckeditor/fckeditor.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}django_rtf.js"></script>

  </head>

  <body>
    <form method="post">
      <table>
        <tr>
          <td> Name: </td>
          <td> {{ form.name}} </td>
        </tr>
        <tr>
          <td>
            Resume:
          </td>
          <td> {{ form.resume }} </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit"/>
          </td>
        </tr>
      </table>
    </form>
    <script type="text/javascript">
    FCKeditor.BasePath = '{{ MEDIA_URL }}fckeditor/' ;
     toRich(document.getElementById("id_resume"));
    </script>

</body>
</html>

